@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
* {
	/*border: 1px dashed red; */
	min-height: 10px;
}

body {
	background: black;
	font-family: "Dancing Script", cursive;
}

p {
	font-size: 12px;
}

.postcard {
	background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 29%, rgba(255, 255, 255, 0.4) 100%),
		url(https://img.freepik.com/free-photo/white-paper-texture_1194-2324.jpg?w=360);
	background-repeat: no-repeat;
	background-size: cover;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	padding: 10px 10px 0 10px;
}

.postcard-header img {
	width: 15%;
	height: 15%;
}

.postcard-header h1 {
	width: 85%;
	height: 15%;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 20px;
}

input {
	font-family: "Dancing Script", cursive;
	border: none;
	border-bottom: 1px solid grey;
}

.postcard-footer {
	text-align: center;
}

button {
	font-family: "Dancing Script", cursive;
	background-color: grey;
	padding: 10px;
}
